<!DOCTYPE html>
<html>
<head>
    <meta lang="rus" charset="UTF-8">
</head>
<body>

    <div>
        <form method="post" action="">
            <input type="text" name="text" placeholder="Type you message">
            <input type="text" name="teg" placeholder="Teg">
            <button type="submit">Add</button>
        </form>
    </div>

    <div>Massages list:</div>

    <form method="post" action="sweter/filter">
        <input type="text" name="filter">
        <button type="submit">Find</button>
    </form>

    {{#messages}}
        <div>
            <b>{{id}}</b>
            <b>{{text}}</b>
            <b>{{teg}}</b>
        </div>
    {{/messages}}
</body>
</html>